In [2]:
import pandas as pd 

df = pd.read_csv("sample data/output data/categorized_pet.csv")
df.head()

   respond_id                pet  count             pet vs category   Category
0           1               Duck      6         1. Duck - Waterfowl  Waterfowl
1           2              Snake      9          2. Snake - Reptile    Reptile
2           3            Samoyed      1            3. Samoyed - Dog        Dog
3           4                Dog      6               23. Dog - Dog        Dog
4           5  British Shorthair      8  4. British Shorthair - Cat        Cat